<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
    <title>Моя первая веб-страница</title>
</head>

<body>
    <div align=center>
        <h2>Тут будет список людей которые нас обижали :)</h2>
    </div>
</body>

</html>